.material-icons{
    margin:right;
}

.nav-wrapper{
    background-color:light-green lighten-;
}

table{
    color:green;
}
.change{
    color:black;
}

body{
    background-color:#33ccff;
}